
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLand_v2.cshtml";
}
<link href="~/assets/client_v2/css/blog.css" rel="stylesheet" />
<div class="jumbotron head">
    <div class="container head">
        <div class="row">
            <div class="col-lg-10 col-md-8 hidden-md hidden-sm hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="/" itemprop="url">
                            <p class="cusp" itemprop="title">Trang chủ</p> >
                        </a>
                    </li>
                    <li class="active">
                        <p itemprop="title">Tin tức</p>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2 col-md-12 col-xs-12">
                <a id="lnkCreateAd" class="pull-right btn mbnd-btn-red" href="/dang-tin-mua-ban-nha-dat.html">
                    <img src="~/assets/client_v2/img/ic-pencil.svg" /> Đăng tin miễn phí
                </a>
            </div>
        </div>
    </div>
</div>
<div class="mbndBlogContent container">
    <!-- Slider -->
    <h1 class="_mbndCateTitle">Bản Tin Tức Bất Động Sản</h1>
    <div class="home-header-content">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 top-left">
                <a class="_ViewDetail" title="Cải tạo chung cư cũ: Làm thế nào hài hòa lợi ích các bên?" href="#">
                    <img alt="Cải tạo chung cư cũ: Làm thế nào hài hòa lợi ích các bên?" src="http://static.muabannhadat.vn/mbndImageBlog.php?urlImage=aHR0cDovL3d3dy5tdWFiYW5uaGFkYXQudm4vdGluLXR1Yy93cC1jb250ZW50L3VwbG9hZHMvMjAxOS8wNi9kdS1hbi1jYWktdGFvLWNodW5nLWN1LWN1LTEuanBn&width=560&height=310" />
                    <div class="title"> Cải tạo chung cư cũ: Làm thế nào hài hòa lợi ích các bên? </div>
                    <div class="sum-desc"> Bộ trưởng Bộ Xây dựng cho biết, các dự án cải tạo chung cư cũ chưa đảm bảo hài hòa lợi ích các bên tham gia. </div>
                </a>
                <div class="_date"> 06/06/2019 </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 top-right">
                <ul class="list-news">
                    <li>
                        <a class="_ViewDetail" title="Tổng hợp thủ tục mua bán nhà cần chuẩn bị" href="#">
                            Tổng hợp thủ tục mua bán nhà cần chuẩn bị
                        </a>
                    </li>
                    <li>
                        <a class="_ViewDetail" title="Sẽ có quy chuẩn pháp lý condotel trong năm 2019" href="#">
                            Sẽ có quy chuẩn pháp lý condotel trong năm 2019
                        </a>
                    </li>
                    <li>
                        <a class="_ViewDetail" title="Vật phong thủy để bàn làm việc hỗ trợ sự nghiệp" href="http://www.muabannhadat.vn/tin-tuc/vat-phong-thuy-de-ban-lam-viec-ho-tro-su-nghiep.html">
                            Vật phong thủy để bàn làm việc hỗ trợ sự nghiệp
                        </a>
                    </li>
                    <li>
                        <a class="_ViewDetail" title="Đánh thuế nơi sốt đất: Dễ phản tác dụng" href="http://www.muabannhadat.vn/tin-tuc/danh-thue-noi-sot-dat-de-phan-tac-dung.html">
                            Đánh thuế nơi sốt đất: Dễ phản tác dụng
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--the end slider home-->
    <!-------------------------FormRegister Email Register Newsletter Mobile--------------------->
    <!-------------------------The end FormRegister Email Register Newsletter Mobile--------------------->
    <div class="row">
        <div class="col-lg-9 col-md-9 mbndBlogContentLeft">
            <!--// Listing Marketing-->
            <div class="row _mbndBlockContainerCategories">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <a href="#" title="Thông tin nhà đất">
                        <h2 class="_mbndCateTitle">
                            Thông tin nhà đất
                        </h2>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
                    <a href="#" title="Thông tin nhà đất">
                        <span class="_homeCateViewAll">
                            Xem tất cả
                            <img src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/arrow_desktop.png" alt="" />
                        </span>
                    </a>
                </div>
                <br />
            </div>
            <div class="_homeListingsResults">
                <div class="row  _homeListingRow">
                    <div class="col-lg-4 col-md-4 _homeListingItem">
                        <a href="#" title="Bên trong chung cư Bùi Viện sắp giải tỏa">
                            <img alt="Bên trong chung cư Bùi Viện sắp giải tỏa" class="img-thumbnail _image" src="http://static.muabannhadat.vn/mbndImageBlog.php?urlImage=aHR0cDovL3d3dy5tdWFiYW5uaGFkYXQudm4vdGluLXR1Yy93cC1jb250ZW50L3VwbG9hZHMvMjAxOS8wNi9jaHVuZy1jdS1idWktdmllbi0xLmpwZw==&width=265&height=150" />
                        </a>
                        <a href="http://www.muabannhadat.vn/tin-tuc/ben-trong-chung-cu-bui-vien-sap-giai-toa.html" title="Bên trong chung cư Bùi Viện sắp giải tỏa">
                            <span class="_title">
                                Bên trong chung cư Bùi Viện sắp giải tỏa
                            </span>
                        </a>
                        <span class="_date">
                            <img class="hidden-sm hidden-xs" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/icon_date.png" alt="" />
                            <img class="hidden-lg hidden-md" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/clock_mobile.png" alt="" />
                            05/06/2019
                        </span>
                        <span class="_des">
                            Theo thông báo từ trước đó, chung cư Bùi Viện (155-157 Bùi Viện, Q.1, TP.HCM) sẽ được giải tỏa và xây dựng mới trong thời gian tới.
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 _homeListingItem">
                        <a href="#" title="Tìm nhà thầu cho 8 dự án trên cao tốc Bắc - Nam">
                            <img alt="Tìm nhà thầu cho 8 dự án trên cao tốc Bắc - Nam" class="img-thumbnail _image" src="http://static.muabannhadat.vn/mbndImageBlog.php?urlImage=aHR0cDovL3d3dy5tdWFiYW5uaGFkYXQudm4vdGluLXR1Yy93cC1jb250ZW50L3VwbG9hZHMvMjAxOS8wNi9jYW8tdG9jLWJhYy1uYW0uanBn&width=265&height=150" />
                        </a>
                        <a href="http://www.muabannhadat.vn/tin-tuc/tim-nha-thau-cho-8-du-tren-cao-toc-bac-nam.html" title="Tìm nhà thầu cho 8 dự án trên cao tốc Bắc - Nam">
                            <span class="_title">
                                Tìm nhà thầu cho 8 dự án trên cao tốc Bắc - Nam
                            </span>
                        </a>
                        <span class="_date">
                            <img class="hidden-sm hidden-xs" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/icon_date.png" alt="" />
                            <img class="hidden-lg hidden-md" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/clock_mobile.png" alt="" />
                            04/06/2019
                        </span>
                        <span class="_des">
                            Với tổng mức đầu tư hơn 88.200 tỷ đồng, 8 dự án trên tuyến cao tốc Bắc - Nam sẽ lựa chọn nhà thầu theo hình thức đấu thầu rộng rãi quốc tế.
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-4 _homeListingItem">
                        <a href="#" title="Những điều cần biết trước khi vay vốn ngân hàng mua nhà">
                            <img alt="Những điều cần biết trước khi vay vốn ngân hàng mua nhà" class="img-thumbnail _image" src="http://static.muabannhadat.vn/mbndImageBlog.php?urlImage=aHR0cDovL3d3dy5tdWFiYW5uaGFkYXQudm4vdGluLXR1Yy93cC1jb250ZW50L3VwbG9hZHMvMjAxOS8wNi92YXktdm9uLW5nYW4taGFuZy1tdWEtbmhhLmpwZw==&width=265&height=150" />
                        </a>
                        <a href="#" title="Những điều cần biết trước khi vay vốn ngân hàng mua nhà">
                            <span class="_title">
                                Những điều cần biết trước khi vay vốn ngân hàng mua nhà
                            </span>
                        </a>
                        <span class="_date">
                            <img class="hidden-sm hidden-xs" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/icon_date.png" alt="" />
                            <img class="hidden-lg hidden-md" src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/clock_mobile.png" alt="" />
                            03/06/2019
                        </span>
                        <span class="_des">
                            Trước khi quyết định vay vốn ngân hàng mua nhà, bạn nên xem xét các vấn đề quan trọng để tránh gây ra các “thảm hoạ" tài chính khi không thể chi trả được khoản vay mua...
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 hidden-lg hidden-md">
                <a href="#" title="Thông tin nhà đất">
                    <span class="_homeCateViewAllMoBile">
                        Xem tất cả
                        <img src="http://www.muabannhadat.vn/tin-tuc/wp-content/themes/blogmbnd/images/icon_arrow2.png" alt="" />
                    </span>
                </a>
            </div>

        </div>

        <div class="col-lg-3 col-md-3 mbndBlogContentRight">
            <div class="__mbndHomeRightHeight"></div>
            <div class="_mbndUlListViewRight row-pull">
                <a rel="next" target="_blank" href="http://www.muabannhadat.vn/nha-dat-3490" title="nha dat ban">
                    <h3 class="_mbndCateTitle">
                        NHÀ ĐẤT BÁN
                    </h3>
                </a>
                <ul>
                    <li>
                        <a rel="next" target="_blank" href="http://www.muabannhadat.vn/dat-ban-3513" title="ban nha">
                            Bán Nhà
                        </a>
                        <hr class="mbnd_hr_m_w">
                    </li>
                    <li>
                        <a rel="next" target="_blank" href="http://www.muabannhadat.vn/ban-dat-3515" title="ban dat">
                            Bán Đất
                        </a>
                        <hr class="mbnd_hr_m_w">
                    </li>
                    <li>
                        <a rel="next" target="_blank" href="http://www.muabannhadat.vn/can-ho-ban-3514" title="can ho chung cu">
                            Căn hộ chung cư
                        </a>
                        <hr class="mbnd_hr_m_w">
                    </li>
                    <li>
                        <a rel="next" target="_blank" href="http://www.muabannhadat.vn/mat-bang-ban-3516" title="Sang mat bang">
                            Sang Mặt Bằng
                        </a>
                        <hr class="mbnd_hr_m_w">
                    </li>
                    <li>
                        <a rel="next" target="_blank" href="http://www.muabannhadat.vn/kho-xuong-ban-3517" title="ban nha kho xuong">
                            Bán Nhà Kho Xưởng
                        </a>
                        <hr class="mbnd_hr_m_w">
                    </li>
                </ul>
            </div>      
        </div>
    </div>
</div>

@section footerJS{
<script src="~/assets/client_v2/js/blog.js"></script>
}