
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_LayoutLand_v2.cshtml";
}
<div class="jumbotron head">
    <div class="container head">
        <div class="row">
            <div class="col-lg-10 col-md-8 hidden-md hidden-sm hidden-xs">
            </div>
            <div class="col-lg-2 col-md-12 col-xs-12">
                <a id="lnkCreateAd" class="pull-right btn mbnd-btn-red" href="/dang-tin-mua-ban-nha-dat.html">
                    <img src="~/assets/client_v2/img/ic-pencil.svg" /> Đăng tin miễn phí
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container main bs-docs-container">
    <div class="row" role="main">
        <div class="container thankyou">
            <div class="row">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-6 text-center">
                    <h1> Chúc mừng bạn đã kích hoạt thành công!</h1>
                </div>
                <div class="col-sm-3 hidden-xs"></div>
            </div>
            <div class="row">
                <img class="img-responsive center-block visible-lg hidden-xs hidden-sm " src="~/assets/client_v2/img/check.png" />
                <img class="img-responsive center-block hidden-md hidden-lg" src="~/assets/client_v2/img/check-mobile.png" />
            </div>
            <div class="row">
                <div class="col-sm-2 hidden-xs"></div>
                <div class="col-sm-8 content">
                    <div class="row btncenter">
                        <button type="button" id="btnGoHome" class="center-block" onclick="window.location = '/';">Trang chủ</button>
                    </div>
                </div>
                <div class="col-sm-2 hidden-xs"></div>
            </div>
        </div>

    </div>
</div>