@model LandProject.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLand_v2.cshtml";
}
<style>
        .validation-summary-errors ul li{
        color:red;
        list-style:circle;
    }
</style>
<div class="jumbotron head">
    <div class="container head">
        <div class="row">
            <div class="col-lg-10 col-md-8 hidden-md hidden-sm hidden-xs">
            </div>
            <div class="col-lg-2 col-md-12 col-xs-12">
                <a id="lnkCreateAd" class="pull-right btn mbnd-btn-red" href="/dang-tin-mua-ban-nha-dat.html">
                    <img src="~/assets/client_v2/img/ic-pencil.svg" /> Đăng tin miễn phí
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container main bs-docs-container">
    <div class="row" role="main">
        <div class="container margin-section">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="well">
                        <div class="row">
                            <div>
                                @using (Html.BeginForm("Login", "Account", new { returnUrl = @ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.ValidationSummary(false, "", new { @class = "error" })
                                    <div class="form-group">
                                        <label for="MainContent_ctl01_txtLogin" class="control-label">Tên đăng nhập</label>
                                        @Html.TextBoxFor(model => Model.UserName, new { @class = "form-control", @placeholder = "" })
                                        <label for="MainContent_ctl01_txtLogin" id="MainContent_ctl01_errLogin" class="help-block"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="MainContent_ctl01_txtPassword" class="control-label">Mật khẩu</label>
                                        @Html.PasswordFor(model => Model.Password, new { @class = "form-control", @placeholder = "" })
                                        <label for="MainContent_ctl01_txtPassword" id="MainContent_ctl01_errPassword" class="help-block"></label>
                                    </div>

                                    <button value="submit" id="MainContent_ctl01_btnLogin" class="btn btn-primary"><span>Đăng nhập</span></button>
                                    <a href="javascript:void(0);" onclick="checkLoginFbDialog();"  class="btn btn-facebook"><span>Đăng nhập bằng Facebook</span></a>
                                }                             
                            </div>
                            <div class="spacer"></div>
                            <div>

                                <div class="form-group">
                                    <label for="MainContent_ctl01_txtEmail" class="control-label">Quên mật khẩu?</label>
                                    <input  type="email" id="txtEmailReset" class="form-control" placeholder="Nhập địa chỉ email để nhận lại mật khẩu" />
                                    <label for="MainContent_ctl01_txtEmail" id="MainContent_ctl01_errEmail" class="help-block"></label>
                                </div>
                                <button onclick="ResetPassword();" class="btn btn-primary">
                                    Gửi
                                </button>
                                <button onclick="ResetPassword();" class="hider"><span>Gửi</span></button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="well">
                        <div id="divRegister" class="row">
                            Nếu bạn không có tài khoản&nbsp;
                            <a id="MainContent_ctl02_lnkRegister" href="/dang-ky.html">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerJS{
<script src="~/assets/client/js/loginFacebook.js"></script>
<script>
        function ResetPassword() {
            if ($("#txtEmailReset").val().trim() == '') {
                toastr.error("", "Vui lòng nhập email", 3000);
                return false;
            }
            var param = {
                email :$("#txtEmailReset").val()
            }
            param = JSON.stringify(param);
            $.ajax({
                type: 'POST',
                url: _Host + "Account/ResetPassword",
                data: param,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                //async: this._serviceAsync,
                success: function (response) {
                    if (response.status) {
                        toastr.success("", "Gửi thành công! Vui lòng kiểm tra hợp thư mail để lấy mật khẩu", 5000);
                        $("#txtEmailReset").val('')
                    } else {
                        toastr.error("", response.message, 5000);
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }
</script>
}