@model LandProject.Web.Models.ApplicationUserViewModel
<input type="hidden" id="userId" value="@Model.Id"/>
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/assets/vendors/images/user.png" />@Model.UserName
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Thông tin cá nhân</a></li>
                        <li style="padding-bottom:10px;">
                            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="#" id="btnLogout"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                            }
                        </li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown" id="readNotify">
                    <a href="javascript:void(0)" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-green" id="numberNotify"></span>
                    </a>
                    <ul id="lst-notify" class="dropdown-menu list-unstyled msg_list" role="menu">
                        @*<li>
                            <a>
                                <span class="image"><img src="~/assets/vendors/images/img.jpg" alt="Profile Image" /></span>
                                <span>
                                    <span>John Smith</span>
                                    <span class="time">3 mins ago</span>
                                </span>
                                <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                </span>
                            </a>
                        </li>*@
                        
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
@section footerJS{
    <script>
        $('#btnLogout').off('click').on('click', function (e) {
            e.preventDefault();
            $('#frmLogout').submit();
        });
    </script>

 
}


