@{
    ViewBag.Title = "Cần mua nhà | Cần thuê nhà - Đăng tin cần mua nhà, cần thuê nhà nhanh nhất!";
    Layout = "~/Views/Shared/_LayoutLand.cshtml";
    var categoryWard = (IEnumerable<LandProject.Common.CountLandNewsDistrictViewModel>)ViewBag.CategoryWard;
}

@section css{
    <link href="~/assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/client/css/need-buy-and-need-rent.css" rel="stylesheet" />
    <link href="~/assets/vendors/toastr/toastr.min.css" rel="stylesheet" />
<style>
    .post-bg-Title {
        height: 50px;
        margin-top: 20px;
        /*background-image: url('../../assets/client/img/icon-dang-tin.png');*/
        background-position: 115px 0;
        background-repeat: no-repeat;
        text-align: center;
        background-color: antiquewhite;
    }

    .graycolor {
        color: #666;
    }

    .post-bg-Title div {
        font-family: Arial;
        font-size: 12px;
    }

    .post-bg-Title h1 {
        font-family: Calibri;
        font-size: 22px;
    }

    .section-md {
        padding-top: 0px;
        /* padding-bottom: 60px; */
    }

    @@media (min-width: 768px) {
        .tabs-custom .nav li + li {
            margin-top: 0;
            margin-left: 0px;
        }
    }

    @@media only screen and (min-width: 1024px) {
        .tab-name {
            font-size: 15pt;
            font-weight: 900;
        }
    }

    .tabs-custom .nav li + li {
        margin-top: 0px;
    }

    .tabs-custom .nav-tabs li {
        margin-top: 0px;
        width: 50%;
    }
</style>
}
<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Đăng tin rao mua, thuê nhà đất</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Trang chủ</a>
                    </li>
                    <li class="active">Đăng tin rao</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="section-md text-left">
    <div class="container">
        <div class="row offset-1">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <div class="post-bg-Title">
                    <h1 class="bluecolor">Đăng tin cần mua, cần thuê nhà đất</h1>
                    <div class="graycolor">
                        (Quý vị nhập thông tin nhà đất cần bán hoặc cho thuê vào các mục dưới đây)
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8">
                <div class="tabs-custom">
                    <ul class="nav nav-tabs" style="width: 100%">
                        <li>
                            <a class="font-seogui" href="/dang-tin-rao-vat-ban-nha-dat.html" title="Cần bán/Cho thuê" aria-expanded="False">
                                <div class="tab-name font-seogui">Cần bán/Cho thuê</div>
                            </a>
                        </li>
                        <li class="active">
                            <a class="font-seogui" href="/dang-tin-rao-vat-mua-nha-dat.html" aria-expanded="True">
                                <div class="tab-name font-seogui"> Cần mua/Cần thuê</div>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade">                          
                        </div>
                        <div id="tab2" class="tab-pane fade active in">
                            <div class="post-news" id="divPostNews">
                                <h5 class="border-bottom font-seogui">THÔNG TIN Mô TẢ</h5>
                                <div class="col-xs-12 col-md-12 col-lg-12" style="padding-bottom: 15px;">
                                    <div class="form-group" style="float: left; width: 100%;">
                                        <label for="name" class="form-label rd-input-label font-weight-600">Tiêu đề <span style="color: red">*</span></label>
                                        <input type="text" name="Title" id="Title" class="form-control" />
                                    </div>
                                    <div class="form-group" style="float: left; width: 100%">
                                        <label for="name" class="form-label rd-input-label" style="width: 100%; padding-top: 0px;">(<span style="color: red">*</span>) Tối đa chỉ 3000 ký tự</label>
                                        <textarea class="form-control" name="Description" id="Description" rows="5" style="height: 130px;"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label for="name" class="form-label rd-input-label">Hình ảnh</label>
                                        <div class="upload-zone" style="margin-bottom: 5px;">
                                            <p>
                                                <span class="fa-file-image-o" style="color: #d9d9d9; font-size: 48px;"></span>
                                            </p>
                                            <p>
                                                <label>
                                                    <span class="btn btn-white btn-primary">Chọn ảnh</span>
                                                    <input id="multi-file" class="hidden" type="file" accept="image/*" multiple="">
                                                </label>
                                            </p>
                                        </div>
                                        <div data-id="cover" class="img-input">
                                            <div class="img-preview clearfix" style="display: flex; flex-wrap: wrap"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="post-news" id="divPostNews">
                                <h5 class="border-bottom font-seogui">THÔNG TIN CƠ BẢN</h5>
                                <div class="ol-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label">Hình thức <span style="color: red">*</span></label>
                                    <select type="text" name="LandTypeID" id="LandTypeID" onchange="LoadLandCategory();" class="form-control" onfocus="hideErrorMessage(this)">
                                        <option value="0">-- Hình thức --</option>
                                    </select>
                                    <div class="errorMessage" style="display: none; color: red; padding-top: 5px; float: left;"></div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label">Loại <span style="color: red">*</span></label>
                                    <select name="LandCategoryID" id="LandCategoryID" class="form-control" onfocus="hideErrorMessage(this)">
                                        <option value="0">-- Loại --</option>
                                    </select>
                                    <div class="errorMessage" style="display: none; color: red; padding-top: 5px; float: left;"></div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label">Tỉnh/Thành phố <span style="color: red">*</span></label>
                                    <select type="text" name="ProvinceID" onchange="LoadDistricts();" id="ProvinceID" class="form-control" onfocus="hideErrorMessage(this)"> </select>
                                    <div class="errorMessage" style="display: none; color: red; padding-top: 5px; float: left;"></div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label">Quận/Huyện<span style="color: red">*</span></label>
                                    <select type="text" onchange="LoadWards();" name="DistrictID" id="DistrictID" class="form-control" onfocus="hideErrorMessage(this)">
                                        <option value="0"> -- Quận/huyện --</option>
                                    </select>
                                    <div class="errorMessage" style="display: none; color: red; padding-top: 5px; float: left;"></div>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label">Phường/Xã</label>
                                    <select type="text" name="WardID" id="WardID" class="form-control">
                                        <option value="0">-- Phường/xã --</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label">Dự án </label>
                                    <select type="text" name="LProjectID" id="LProjectID" class="form-control">
                                        <option value="0">-- Dự án --</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label"> Diện tích(m²)</label>
                                    <input type="text" name="Area" id="Area" class="form-control number">
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                    <label for="name" class="form-label rd-input-label">Giá</label>
                                    <input type="text" name="Price" id="Price" class="form-control price">
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12 form-group">
                                    <label for="name" class="form-label rd-input-label">Địa chỉ <span style="color: red">*</span></label>
                                    <input type="text" name="Address" id="Address" class="form-control" placeholder="Nhập địa chỉ" />
                                    <div class="errorMessage" style="display: none; color: red; padding-top: 5px; float: left;"></div>
                                </div>
                            </div>
                            <div class="post-news" id="Agents">
                                <h5 class="border-bottom font-seogui">LIÊN HỆ</h5>
                                <div class="col-xs-12 col-md-12 col-lg-12 info-parent">
                                    <div class="form-group">
                                        <input name="AgentID" id="AgentID" class="hidden" />
                                        <input name="UserId" id="UserId" value="1" class="hidden" />
                                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                            <label for="name" class="form-label rd-input-label">Tên liên hệ:</label>
                                            <input type="text" id="AgentName" name="AgentName" class="form-control">
                                        </div>
                                        <div class="ol-xs-12 col-md-6 col-lg-6 form-group">
                                            <label for="name" class="form-label rd-input-label">Địa chỉ: </label>
                                            <input type="text" name="AgentAddress" id="AgentAddress" class="form-control">
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                            <label for="name" class="form-label rd-input-label">Điện thoại: </label>
                                            <input type="text" name="AgentPhone" id="AgentPhone" class="form-control number">
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                            <label for="name" class="form-label rd-input-label">Di động: <span style="color: red">*</span></label>
                                            <input type="text" name="AgentMobilePhone" id="AgentMobilePhone" class="form-control number">

                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                            <label for="name" class="form-label rd-input-label">Email:</label>
                                            <input type="text" name="AgentEmail" id="AgentEmail" class="form-control">
                                        </div>
                                        <div class="col-xs-12 col-md-6 col-lg-6 form-group">
                                            <label for="checkbox">Nhận phản hồi qua email</label>
                                            <input type="checkbox" class="checkbox checkbox-custom" id="CheckEmail" style="float: left; margin-right: 10px; width: 28px; height: 28px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-news">
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                    <div id="imgCaptcha"></div>
                                    <label for="name" class="form-label rd-input-label">Captcha <span style="color: red">*</span></label>
                                    <input type="text" name="Captcha" id="Captcha" class="form-control" placeholder="Nhập captcha" />

                                    <button class="btn btn-sushi" id="btnBuyPlan" style="padding-top: 20px; margin-top: 20px;" onclick="SubmitBuyPlan()">ĐĂNG TIN</button>
                                </div>
                                <div class="col-xs-12 col-md-6 col-lg-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 p-t-20">
                <div class="sidebar sidebar-mod-2">
                    <div class="sidebar-module">
                        <h4>Vị trí bất động sản</h4>
                        <ul class="list-marked">
                            @if (categoryWard.Count() != 0)
                            {
                                foreach (var item in categoryWard)
                                {
                                    var url = "/nha-dat/" + HttpUtility.HtmlDecode(item.Name) + ".w-" + item.ID + ".html";
                                    <li>
                                        <a href="@url" class="text-sushi">@item.Name (@item.TotalLandNews)</a>
                                    </li>
}
                            }
                        </ul>
                    </div>

                    <div class="sidebar-module">
                        <div class="banner">
                            <img src="images/left_sidebar_blog-4.jpg" alt="" width="340" height="500">
                            <div class="banner-text">
                                <h4>Banner 340x500</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 inset-7 text-center text-md-left search">
                <h5 class="border-bottom font-seogui" style="margin-bottom: 15px;">Tìm kiếm</h5>
                <div class="post-news">
                    <form action="@Url.Content("~/tim-kiem/tin-nha-dat.html")">
                        <div class="form-group">
                            <label for="select-1" class="form-label">Loại nhà đất</label>
                            <!--Select 2-->
                            <select id="TypePlan" class="form-control" name="landtype">
                                <option value="0">-- Hình thức --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Tỉnh/Thành phố</label>
                            <!--Select 2-->
                            <select id="Province" onchange="LoadDistrictsSearch();" type="text" class="form-control" name="province">
                                <option value="0">-- Tỉnh/thành phố --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="select-3" class="form-label">Quận/Huyện</label>
                            <!--Select 2-->
                            <select id="District" class="form-control" name="district">
                                <option value="0">-- Quận/huyện --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price" class="form-label">Mức giá</label>
                            <div class="form-inline-flex-xs">
                                <input id="price" type="text" name="minprice" placeholder="0" class="form-control price">
                                <span class="text-abbey dash">–</span>
                                <input id="max-price" type="text" name="maxprice" placeholder="0" class="form-control price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="area" class="form-label">Diện tích</label>
                            <div class="form-inline-flex-xs">
                                <input id="area" type="text" name="minarea" placeholder="0" class="form-control">
                                <span class="text-abbey dash">–</span>
                                <input id="max-area" type="text" name="maxarea" placeholder="0" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sushi btn-sm btn-min-width-mod-3">TÌM KIẾM</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

@section footerJS{
    <script src="~/assets/vendors/bootbox/bootbox.min.js"></script>
    <script src="~/assets/vendors/select2/dist/js/select2.full.js"></script>
    <script src="~/assets/vendors/toastr/toastr.min.js"></script>
    <script src="~/assets/client/js/commont.js"></script>
    <script src="~/assets/client/js/upload-file.js"></script>
    <script src="~/assets/client/js/need-buy-and-need-rent.js"></script>
}
