
@{
    ViewBag.Title = "NeedSaleAndForRent";
    Layout = "~/Views/Shared/_LayoutLand.cshtml";
}
<!-- Section Title Breadcrumbs-->
<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Single Property Page</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Property Catalog</a>
                    </li>
                    <li class="active">Single Property Page</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<h2>NeedSaleAndForRent</h2>

