body {
    font-family: 'Segoe UI';
}

.post-news {
    position: relative;
    float: left;
    /*border: 0.5px solid rgb(138, 169, 89);*/
    margin-bottom: 20px;
    width: 100%;
}
.post-news .border-bottom{
    margin-bottom: 15px;
}
.post-news .header-title {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #46474a;
    background-color: #83ae3e;
    height: 52px;
    padding-top: 10px;
    padding-left: 20px;
    color: white;
    margin-bottom: 15px;
}

.post-news .title-chid {
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 25px;
    text-align: left;
}

.post-news .form-group {
    /* height: 45px; */
    /*padding-bottom: 0px;
    margin-bottom: 10px;*/
}

    .post-news .form-label {
        /*float: left;
    padding-top: 8px;*/
        font-family: font-seogui;
    }

.post-news .form-control {
    float: left;
}

.post-news .description {
    cursor: text;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 14px 14px;
    background-color: white;
    border: 1px solid #e7e7e7;
    height: 140px;
}

.post-news .map {
    height: 260px;
}

.post-news .upload-zone {
    text-align: center;
    border: 1px dashed #d9d9d9;
    padding: 1.5rem 0 1rem 0;
}
/*Combobox*/
.select2-container--default .select2-selection--single {
    height: 50px;
    border: 1px solid #e7e7e7;
    padding: 11px 20px 13px;
}

.select2-container .select2-selection--single {
    height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
}

.select2-container {
    float: left;
    width: 100%;
}



.search  .post-news .form-group {
    position: relative;
    float: left;
    width: 100%;
}