
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
     @@media (min-width: 768px) {
        .modal-dialog.as-container {
            width: 750px;
        }
    }

    @@media (min-width: 992px) {
        .modal-dialog.as-container {
            width: 970px;
        }
    }

    @@media (min-width: 1200px) {
        .modal-dialog.as-container {
            width: 1250px;
        }
    }

    .modal-dialog.as-container .modal-content {
        float: none;
        margin: auto;
    }
    .panel_toolbox > li {
        float: right;
        cursor: pointer;
    }

    @@media (min-width: 768px){
        .form-horizontal .control-label {
            padding-top: 7px;
            margin-bottom: 0;
            text-align: -webkit-center;
        }
    }

</style>
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh sách dự án</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group" style="float:right">
                    <a class="btn btn-primary" id="form-create-lproject">
                        Thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_title">
            <small>Trang chủ</small> / <small>Danh sách dự án</small>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            @*<h4>Horizontal labels</h4>
                <p class="font-gray-dark">
                    Using the grid system you can control the position of the labels. The form example below has the <b>col-md-10</b> which sets the width to 10/12 and <b>center-margin</b> which centers it.
                </p>*@
            <div id="grid"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="LProjectModel" role="dialog">
    <div class="modal-dialog as-container">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm dự án</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Thông tin dự án</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form class="form-horizontal form-label-left input_mask">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Tên dự án: <span class="required">*</span>
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <textarea id="txtLProjectName" class="form-control" rows="3" placeholder="Tiêu đề"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Loại dự án: <span class="required">*</span></label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <div class="w100 form-control" id="cboLProjectCategory"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Nhà đầu tư:
                                        </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input id="txtInvestors" class="form-control" rows="3" placeholder="Nhà đầu tư"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                            Khu vực:
                                        </label>
                                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                            <div class="w100 form-control" id="cboProvince"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                            <div class="w100 form-control" id="cboDistrict"></div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                            <div class="w100 form-control" id="cboWard"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>MÔ TẢ</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <textarea id="txtDescription" class="editorTinyMce" style="width:100%;height:200px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>THÔNG TIN CHI TIẾT </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <textarea id="txtDetail" class="editorTinyMce" style="width:100%;height:200px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>HÌNH ẢNH</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <input type="file" id="multi-file" multiple/>
                                <div class="row" id="lst-file-image">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveLProject">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeLProject">Đóng</button>
            </div>
        </div>

    </div>
</div>

@section footerJS{
    <script src="~/assets/admin/js/LProject.js"></script>
}
