<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="hodachuy789@gmail.com"/>
  <add key="FromEmailPassword" value=""/>
  <add key="FromName" value="DatDacKhu"/>
  <add key="AdminEmail" value="hodachuy123@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:4846/"/>
  <add key="EnableBundles" value="false"/>

  <!--Setting Ngan Luong payment-->
  <add key="MerchantId" value="51109"/>
  <add key="MerchantPassword" value=""/>
  <add key="MerchantEmail" value=""/>
  <add key="ReportFolder" value="/Reports"/>

</appSettings>
