@{ 
    var categoryWard = (IEnumerable<LandProject.Common.CountLandNewsDistrictViewModel>)ViewBag.CategoryFooter;
}

<section class="footer-content">
    <div class="container">
        <div class="row flow-offset-3">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="rd-navbar-brand">
                    <a href="index.html" class="brand-name">
                        <img src="https://livedemo00.template-help.com/wt_prod-1143/images/logo-2.png" alt="">
                    </a>
                </div>
                <p>Kênh thông tin rao bán bất động sản</p>
                <address class="address">
                    <dl>
                        <dt>Địa chỉ:</dt>
                        <dd></dd>
                    </dl>
                    <dl class="dl-horizontal-mod-1">
                        <dt>Phone</dt>
                        <dd>
                            <a href="callto:#" class="text-primary">(91) 8547 632521</a>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal-mod-1">
                        <dt>Email</dt>
                        <dd>
                            <a href="/cdn-cgi/l/email-protection#bd9e" class="text-primary"><span class="__cf_email__" data-cfemail="fb92959d94bb989a958d9a88d5989496"></span></a>
                        </dd>
                    </dl>
                </address>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h6 class="text-ubold">Tin tức</h6>
                <div class="blog-post text-left">
                    <div class="blog-post-title">
                        <a href="post-page.html" class="text-primary">Điều chỉnh quy hoạch H. Vạn Ninh đến năm 2035
                        </a>
                    </div>
                    <div class="blog-post-time">
                        <time datetime="2016" class="small">2019/05/20</time>
                    </div>
                </div>
                <div class="blog-post text-left">
                    <div class="blog-post-title">
                        <a href="post-page.html" class="text-primary">
                            Điều chỉnh quy hoạch H. Vạn Ninh đến năm 2035
                        </a>
                    </div>
                    <div class="blog-post-time">
                        <time datetime="2016" class="small">2019/05/20</time>
                    </div>
                </div>
                <div class="blog-post text-left">
                    <div class="blog-post-title">
                        <a href="post-page.html" class="text-primary">
                            Điều chỉnh quy hoạch H. Vạn Ninh đến năm 2035
                        </a>
                    </div>
                    <div class="blog-post-time">
                        <time datetime="2016" class="small">2019/05/20</time>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h6 class="text-ubold">Vị trí bất động sản</h6>
                <ul class="list-marked well6 text-left">
                    @if (categoryWard.Count() != 0)
                    {
                        foreach (var item in categoryWard)
                        {
                            var url = "/nha-dat/" + HttpUtility.HtmlDecode(item.Name) + ".w-" + item.ID + ".html";
                            <li>
                                <a href="@url" class="text-sushi">@item.Name (@item.TotalLandNews)</a>
                            </li>
                        }
                    }
                
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="copyright">
    <div class="container">
        <ul class="list-inline pull-sm-right">
            <li>
                <a href="#" class="fa-facebook"></a>
            </li>
            <li>
                <a href="#" class="fa-twitter"></a>
            </li>
            <li>
                <a href="#" class="fa-pinterest-p"></a>
            </li>
            <li>
                <a href="#" class="fa-vimeo"></a>
            </li>
            <li>
                <a href="#" class="fa-google"></a>
            </li>
            <li>
                <a href="#" class="fa-rss"></a>
            </li>
        </ul>
    </div>
</section>
<!-- Rd Mailform result field-->
<div class="rd-mailform-validate"></div>
