@{
    var categoryWard = (IEnumerable<LandProject.Common.CountLandNewsDistrictViewModel>)ViewBag.CategoryFooter;
}
<div class="container">
    <div class="row">

        <div class="col-xs-4 col-lg-3">
            <h4 class="footer-title">Công ty</h4>
            <nav class="footer-list">
                <a class="nav-link px-0 text-dark" href="#">Giới thiệu</a>
                <a class="nav-link px-0 text-dark" href="#">Liên hệ</a>
                <a class="nav-link px-0 text-dark" href="#">Tuyển dụng</a>
                <a class="nav-link px-0 text-dark" href="#">Bản quyền</a>
            </nav>
        </div>
        <div class="col-xs-8 col-lg-3">
            <h4 class="footer-title">Chính sách</h4>
            <nav class="footer-list">
                <a class="nav-link px-0 text-dark" href="#">FAQ</a>
                <a class="nav-link px-0 text-dark" href="#">Quy chế sẵn GDTMĐT</a>
                <a class="nav-link px-0 text-dark" href="#">Tuyên bố từ chối bảo đảm</a>
            </nav>
        </div>
        <div class="col-xs-12 col-lg-3">
            <h4 class="footer-title">Chăm sóc khách hàng</h4>
            <nav class="footer-list">
                <a class="nav-link px-0 text-dark" href="#">Nhận bản tin</a>
                <a class="nav-link px-0 text-dark" href="#">Bảng giá</a>
                <a class="nav-link px-0 text-dark" href="#">Điều khoản thoả thuận</a>
                <a class="nav-link px-0 text-dark" href="#">Sitemap</a>
            </nav>
        </div>
        <div class="col-xs-12 col-lg-3">


            <!-- /input-group -->
            <p class="list-social" style="padding-top:9px;">
                Follow us on
                <a href="#" class="px-2 ml-2">
                    <svg height="16" viewBox="0 0 15 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.97894 10.0022H15L14.3481 15.7102H9.97268V28.5712H4.2727V15.7247H0V10.0056H4.2698C4.2698 9.95441 4.2698 9.91577 4.2698 9.87762C4.2698 8.71322 4.25485 7.54882 4.28041 6.38491C4.31175 4.96069 4.66616 3.62774 5.52253 2.46189C6.28343 1.42499 7.30182 0.75176 8.51646 0.362018C9.41189 0.0722466 10.3338 -0.021929 11.2688 0.00415036C12.131 0.027815 12.9926 0.0669341 13.8543 0.108468C14.188 0.124405 14.5202 0.165939 14.8592 0.196365V4.73901H14.7174C13.7531 4.74336 12.7916 4.73901 11.8296 4.75881C11.5559 4.77045 11.2847 4.81653 11.0224 4.89597C10.4679 5.05293 10.1448 5.44122 10.058 6.00676C10.0066 6.34518 9.97973 6.68687 9.9775 7.02917C9.96689 7.98638 9.97364 8.94359 9.97412 9.9008C9.97316 9.92978 9.97653 9.96068 9.97894 10.0022Z" fill="#4267b2" />
                    </svg>

                </a>
                <a href="#" class="px-2 ml-2">
                    <svg width="16" height="16" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.3831 4.30765H24.3086C24.145 4.30765 23.9881 4.24266 23.8724 4.12697C23.7567 4.01128 23.6917 3.85437 23.6917 3.69076V0.616387C23.6916 0.452952 23.6266 0.296249 23.511 0.180683C23.3954 0.0651169 23.2387 0.000133471 23.0753 0L22.1549 0C21.9913 0 21.8344 0.0649937 21.7187 0.180683C21.603 0.296373 21.538 0.453281 21.538 0.616891V3.69127C21.5379 3.8547 21.4729 4.0114 21.3573 4.12697C21.2418 4.24254 21.0851 4.30752 20.9216 4.30765H17.8471C17.6835 4.30765 17.5266 4.37265 17.4109 4.48834C17.2952 4.60403 17.2302 4.76093 17.2302 4.92454V5.84635C17.2302 6.00996 17.2952 6.16687 17.4109 6.28256C17.5266 6.39825 17.6835 6.46324 17.8471 6.46324H20.9216C21.0852 6.46324 21.2422 6.52824 21.3578 6.64393C21.4735 6.75962 21.5385 6.91653 21.5385 7.08014V10.1545C21.5385 10.3181 21.6035 10.475 21.7192 10.5907C21.8349 10.7064 21.9918 10.7714 22.1555 10.7714H23.0758C23.2394 10.7714 23.3963 10.7064 23.512 10.5907C23.6277 10.475 23.6927 10.3181 23.6927 10.1545V7.08014C23.6927 6.91653 23.7577 6.75962 23.8734 6.64393C23.9891 6.52824 24.146 6.46324 24.3096 6.46324H27.3841C27.5475 6.46298 27.7042 6.39787 27.8197 6.28221C27.9351 6.16654 28 6.00979 28 5.84635V4.92454C28 4.76093 27.935 4.60403 27.8193 4.48834C27.7036 4.37265 27.5467 4.30765 27.3831 4.30765Z" fill="#DB4437" />
                        <path d="M1.80024 26.292C2.36238 26.697 2.97638 27.0246 3.62578 27.2662C4.28948 27.5222 4.97721 27.711 5.67863 27.8296C6.34324 27.9406 7.01583 27.9969 7.68964 27.998C10.6959 27.998 13.0518 27.2633 14.7574 25.794C16.3276 24.4252 17.1129 22.8435 17.1132 21.0489C17.1175 20.441 17.0233 19.8365 16.8345 19.2587C16.6711 18.7464 16.4267 18.2635 16.1107 17.8284C15.8141 17.432 15.4848 17.0611 15.1264 16.7196C14.7675 16.3775 14.4087 16.0664 14.0498 15.7862C13.6909 15.5059 13.3628 15.2371 13.0655 14.9798C12.7885 14.7453 12.545 14.4739 12.3417 14.1734C12.1658 13.9218 12.0691 13.6235 12.064 13.3166C12.0662 12.9061 12.202 12.5074 12.4511 12.1811C12.7283 11.8067 13.0442 11.4626 13.3936 11.1544C13.7632 10.8238 14.1328 10.4621 14.5024 10.0693C14.872 9.67655 15.1862 9.15777 15.4449 8.513C15.7026 7.86788 15.8317 7.13037 15.832 6.30045C15.8328 5.31493 15.6087 4.34222 15.1768 3.4564C14.8597 2.7789 14.3983 2.17892 13.825 1.69847C13.5624 1.48124 13.6022 1.3366 13.9429 1.3366H14.9807C15.3823 1.32013 15.775 1.21369 16.1299 1.02513L17.3385 0.311974C17.6328 0.140111 17.595 0 17.2543 0H10.5177C9.45974 0.00163133 8.40492 0.114475 7.3706 0.336669C5.81118 0.683419 4.49873 1.47738 3.43324 2.71855C2.36776 3.95973 1.83485 5.3647 1.83451 6.93347C1.83451 8.59397 2.43193 9.97391 3.62678 11.0733C4.82163 12.1727 6.25471 12.7224 7.92602 12.7224C8.1068 12.7224 8.30353 12.7143 8.51622 12.6982C8.84182 12.6735 9.08274 12.7209 9.04947 12.8207C9.03166 12.8747 9.01049 12.9346 8.98597 13.0001C8.92985 13.1516 8.885 13.2722 8.85139 13.3619C8.81344 13.4685 8.78527 13.5783 8.76722 13.69C8.74442 13.8207 8.73312 13.9531 8.73345 14.0857C8.73345 14.6905 8.97303 15.3589 9.45218 16.0911C9.63866 16.3758 9.53433 16.5996 9.19412 16.6183C8.55167 16.6549 7.91578 16.7221 7.28643 16.8199C6.40403 16.9607 5.5325 17.1628 4.67816 17.4247C3.80343 17.6827 2.97853 18.0865 2.23823 18.6191C1.51917 19.1423 0.98071 19.7624 0.62286 20.4794C0.207888 21.31 0.000402585 22.0671 0.000402585 22.7509C-0.00951712 23.4647 0.164029 24.1691 0.504417 24.7966C0.821145 25.3843 1.26359 25.8948 1.80024 26.292ZM7.99255 11.2729C7.4836 10.9867 7.03784 10.6004 6.68212 10.1374C6.30985 9.64995 5.99368 9.12212 5.73961 8.5639C5.47793 8.00396 5.27735 7.41745 5.14135 6.81453C5.01653 6.26797 4.95163 5.70944 4.94781 5.14882C4.94781 4.07162 5.23341 3.14611 5.80463 2.37231C6.37585 1.59851 7.18361 1.21211 8.22793 1.21312C8.95704 1.20939 9.66591 1.45278 10.2389 1.90359C10.8409 2.36733 11.3245 2.96697 11.6502 3.65347C11.9912 4.35442 12.2571 5.08947 12.4435 5.84635C12.6215 6.54785 12.7148 7.26816 12.7212 7.99186C12.7212 8.84261 12.5809 9.565 12.3004 10.159C12.1552 10.467 11.8321 10.9241 11.566 11.1368C11.0875 11.5202 10.4412 11.7119 9.62707 11.7119C9.05322 11.7119 8.48947 11.5609 7.99255 11.2739V11.2729ZM3.56731 20.176C3.85018 19.6713 4.24716 19.2398 4.72654 18.916C5.23774 18.5828 5.79276 18.3222 6.37568 18.1418C6.96787 17.9481 7.57608 17.8073 8.19315 17.721C8.78537 17.641 9.38229 17.6009 9.97988 17.6011C10.1365 17.6011 10.2769 17.6031 10.4012 17.6071C10.6341 17.6147 10.937 17.7129 11.0781 17.8087L11.3347 17.9861C11.6095 18.177 11.7943 18.3058 11.8891 18.3727C11.9838 18.4395 12.1577 18.5686 12.4107 18.7597C12.6631 18.9506 12.8427 19.0937 12.9495 19.1891C13.0564 19.2846 13.2106 19.4275 13.4122 19.618C13.5777 19.7677 13.7272 19.934 13.8583 20.1145C13.9534 20.2549 14.071 20.4259 14.2111 20.6275C14.3387 20.8047 14.4382 21.0006 14.5059 21.2082C14.5617 21.3933 14.615 21.5949 14.6657 21.8129C14.7169 22.0363 14.7424 22.2647 14.7418 22.4938C14.7418 23.1994 14.5876 23.8165 14.2791 24.345C13.9801 24.8626 13.5471 25.29 13.0256 25.5823C12.4958 25.88 11.9263 26.1006 11.3342 26.2375C10.7133 26.3801 10.0781 26.4506 9.44109 26.4477C8.72135 26.4475 8.00411 26.363 7.30407 26.1957C6.59834 26.0279 5.91693 25.7706 5.27642 25.4301C4.64385 25.0996 4.10541 24.6141 3.71146 24.0189C3.31295 23.4199 3.11353 22.7383 3.11319 21.9742C3.11252 21.3022 3.26389 20.7028 3.56731 20.176Z" fill="#DB4437" />
                    </svg>

                </a>
                <a href="#" class="px-2 ml-2">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 9.7291V15.6444H12.5707V10.1253C12.5707 8.73882 12.0747 7.79263 10.8334 7.79263C9.88579 7.79263 9.32189 8.43029 9.07381 9.04713C8.98334 9.26765 8.96006 9.57458 8.96006 9.88326V15.6444H5.52958C5.52958 15.6444 5.57579 6.29681 5.52958 5.32833H8.95972V6.79059C8.95276 6.80153 8.94372 6.81332 8.93718 6.82392H8.95972V6.79059C9.41545 6.08868 10.2293 5.08598 12.051 5.08598C14.308 5.08594 16 6.5604 16 9.7291ZM1.94116 0.355469C0.767605 0.355469 0 1.12523 0 2.1375C0 3.1277 0.745397 3.92082 1.89563 3.92082H1.91855C3.11484 3.92082 3.85882 3.12785 3.85882 2.1375C3.83628 1.12523 3.11484 0.355469 1.94116 0.355469ZM0.20374 15.6444H3.63291V5.32833H0.20374V15.6444Z" fill="#006192" />
                    </svg>

                </a>
            </p>

        </div>
    </div>

</div>