<section class="footer-content">
    <div class="container">
        <div class="row flow-offset-3">
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <div class="rd-navbar-brand">
                    <a href="index.html" class="brand-name">
                        <img src="https://livedemo00.template-help.com/wt_prod-1143/images/logo-2.png" alt="">
                    </a>
                </div>
                <p>We believe in Simple, Creative &amp; Flexible Design Standards.</p>
                <address class="address">
                    <dl>
                        <dt>Headquarters:</dt>
                        <dd>795 Folsom Ave, Suite 600 San Francisco, CA 94107</dd>
                    </dl>
                    <dl class="dl-horizontal-mod-1">
                        <dt>Phone</dt>
                        <dd>
                            <a href="callto:#" class="text-primary">(91) 8547 632521</a>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal-mod-1">
                        <dt>Fax</dt>
                        <dd>
                            <a href="callto:#" class="text-primary">(91) 11 4752 1433</a>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal-mod-1">
                        <dt>Email</dt>
                        <dd>
                            <a href="/cdn-cgi/l/email-protection#bd9e" class="text-primary"><span class="__cf_email__" data-cfemail="fb92959d94bb989a958d9a88d5989496">[email&#160;protected]</span></a>
                        </dd>
                    </dl>
                </address>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h6 class="text-ubold">Blogroll</h6>
                <ul class="list-marked well6 text-left">
                    <li>
                        <a href="#">Documentation</a>
                    </li>
                    <li>
                        <a href="#">Feedback</a>
                    </li>
                    <li>
                        <a href="#">Plugins</a>
                    </li>
                    <li>
                        <a href="#">Support Forums</a>
                    </li>
                    <li>
                        <a href="#">Themes</a>
                    </li>
                    <li>
                        <a href="#">WordPress Blog</a>
                    </li>
                    <li>
                        <a href="#">WordPress Planet</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h6 class="text-ubold">Recent posts</h6>
                <div class="blog-post text-left">
                    <div class="blog-post-title">
                        <a href="post-page.html" class="text-primary">Believe in the Business of Your Dreams</a>
                    </div>
                    <div class="blog-post-time">
                        <time datetime="2016" class="small">December 28, 2016</time>
                    </div>
                </div>
                <div class="blog-post text-left">
                    <div class="blog-post-title">
                        <a href="post-page.html" class="text-primary">Establishing Your Brand on College Campuses</a>
                    </div>
                    <div class="blog-post-time">
                        <time datetime="2016" class="small">December 28, 2016</time>
                    </div>
                </div>
                <div class="blog-post text-left">
                    <div class="blog-post-title">
                        <a href="post-page.html" class="text-primary">Beautiful Rumi Quotes that are Worth Reading</a>
                    </div>
                    <div class="blog-post-time">
                        <time datetime="2016" class="small">December 28, 2016</time>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <h6 class="text-ubold">Newsletter</h6>
                <p class="text-gray">Enter your email address to receive all news, updates on new arrivals, special offers and other information.</p>
                <!-- RD Mailform-->
                <form data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left subscribe">
                    <div class="form-group">
                        <label for="email-sub" class="form-label"></label>
                        <input id="email-sub" type="email" name="email" data-constraints="@@Required @@Email" placeholder="Enter e-mail" class="form-control">
                    </div>
                    <button class="btn btn-sushi btn-sm">subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="copyright">
    <div class="container">
        <p class="pull-sm-left">
            ©
            <span id="copyright-year"></span> All Rights Reserved
            <a href="terms-of-service.html">Terms of Use and Privacy Policy</a>
        </p>
        <ul class="list-inline pull-sm-right">
            <li>
                <a href="#" class="fa-facebook"></a>
            </li>
            <li>
                <a href="#" class="fa-twitter"></a>
            </li>
            <li>
                <a href="#" class="fa-pinterest-p"></a>
            </li>
            <li>
                <a href="#" class="fa-vimeo"></a>
            </li>
            <li>
                <a href="#" class="fa-google"></a>
            </li>
            <li>
                <a href="#" class="fa-rss"></a>
            </li>
        </ul>
    </div>
</section>
<!-- Rd Mailform result field-->
<div class="rd-mailform-validate"></div>


<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 231233333333; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 30%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .registerAccount {
        margin: 0 auto 60px auto;
        width: 100%;
        color: #555;
        font-size: 14px;
        background: #fff;
        /*-webkit-box-shadow: -3px 2px 5px 0 rgba(100,100,100,0.9);
    -moz-box-shadow: -3px 2px 5px 0 rgba(100,100,100,0.9);
    box-shadow: -3px 2px 5px 0 rgba(100,100,100,0.9);
    border: 1px solid #929292;*/
    }

        .registerAccount .fa-close {
            position: absolute;
            top: 10px;
            right: 15px;
            color: #ccc;
            font-size: 25px;
            cursor: pointer;
        }

        .registerAccount h1 {
            font-weight: bold;
            font-size: 24px;
            color: #055699;
            margin: 30px 0;
            text-align: center;
            text-transform: uppercase;
        }

        .registerAccount .row-field {
            margin: 0 20px 10px 30px;
        }

    .field-content {
        -webkit-border-radius: 8px 8px 8px 8px;
    }

    .registerAccount .row-field .field-content {
        height: 40px;
        /*border: 1px solid #CCC;*/
        width: 100%;
        display: inline-block;
        position: relative;
    }

        .registerAccount .row-field .field-content input[type="text"], .registerAccount .row-field .field-content input[type="password"] {
            width: 100%;
            border: 0;
            color: #666;
            height: 38px;
            line-height: 36px;
            padding-left: 10px;
        }

    .registerAccount .row-field .reg-gender, .registerAccount .row-field .reg-brokertype {
        height: 20px;
        margin: 10px 0;
        line-height: 20px;
    }

    .registerAccount .row-field .reg-gender, .registerAccount .row-field .reg-local, .registerAccount .row-field .reg-brokertype {
        border: 0;
        clear: both;
    }

    .registerAccount .row-field .field-content {
        height: 40px;
        border: 1px solid #CCC;
        width: 100%;
        display: inline-block;
        position: relative;
    }

    .registerAccount .row-field .reg-gender label, .registerAccount .row-field .reg-brokertype label {
        margin-right: 40px;
        float: left;
    }

    .registerAccount .adv-control {
        color: #666;
        float: left;
        height: 38px;
        line-height: 38px;
        position: relative;
        text-align: left;
        z-index: 10;
        width: 30%;
    }

    .registerAccount .button-register {
        background-color: #055698;
        /*margin: 0 30px 20px 30px;*/
        height: 50px;
        border-radius: 3px 3px 3px 3px;
        /*border: 0;*/
        width: 100%;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        font-family: Tahoma;
    }

    .login .login-reg, .registerAccount .reg-login {
        background-color: #f4f4f4;
        padding: 20px;
        text-align: center;
        height: 20px;
        line-height: 20px;
        border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        font-size: 13px;
    }
</style>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="registerAccount">
            <h1>Đăng ký tài khoản</h1>
            @*<span class="close" onclick="eventPage.closeFormRegister()">&times;</span>*@
            <i class="fa fa-close" onclick="eventPage.closeFormRegister()"></i>
            <div class="loginerror" style="display:none;">
            </div><div class="row-field">
                <div class="field-content">
                    <input type="text" id="txtUserName" maxlength="64" placeholder="Tên đăng nhập">
                    @*<i class="fa" aria-hidden="true"></i>*@
                </div>
                @*<span class="t_red">*</span>*@
                <div id="validateFortxtUserName" class="error-message"></div>
            </div>
            @*<div class="row-field">
                    <div class="field-content">
                        <input type="text" id="txtPrimaryEmail" maxlength="128" placeholder="Địa chỉ email">

                    </div>

                    <div id="validateFortxtPrimaryEmail" class="error-message"></div>
                </div>
                <div class="row-field">
                    <div class="field-content content-half" style="margin-right: 10px;">
                        <input type="password" id="txtPassword" maxlength="64" placeholder="Mật khẩu">

                    </div>
                    <div class="field-content content-half">
                        <input type="password" id="txtConfirmPassword" maxlength="64" placeholder="Nhập lại mật khẩu">

                    </div>

                    <div id="validateFortxtPassword" class="error-message"></div>
                    <div id="validateFortxtConfirmPassword" class="error-message"></div>
                </div>*@
            <div class="row-field">
                <div class="field-content">
                    <input type="text" id="txtFullname" maxlength="50" placeholder="Tên đầy đủ">
                    @*<i class="fa" aria-hidden="true"></i>*@
                </div>@*<span class="t_red">*</span>*@
                <div id="validateFortxtFullname" class="error-message"></div>
            </div>
            <div class="row-field">
                <div class="field-content">
                    <input type="text" id="txtBirthDate" placeholder="Ngày sinh" class="hasDatepicker">
                </div>
                <div id="validateForBirthDate" class="error-message">

                </div>
            </div><div class="row-field">
                <div class="field-content reg-gender">
                    <label for="rdMale">
                        <input type="radio" id="rdMale" name="Gender" checked="checked"> Nam
                    </label>
                    <label for="rdFemale"><input type="radio" id="rdFemale" name="Gender"> Nữ</label>
                </div>
            </div>

            <div class="row-field">
                <div class="field-content reg-brokertype">
                    <label for="rdPersonal">
                        <input type="radio" id="rdPersonal" name="AccountType" checked="checked"> Cá nhân
                    </label>
                    <label for="rdEnterprise"><input type="radio" id="rdEnterprise" name="AccountType"> Công ty</label>
                </div>
            </div>
            <div class="row-field">
                <div class="field-content">
                    <input type="text" id="txtMasothue" maxlength="50" placeholder="Mã số thuế cá nhân/ CMND">
                    @*<i class="fa" aria-hidden="true"></i>*@
                </div>@*<span class="t_red">*</span>*@
                <div id="validateFortxtMasothue" class="error-message">

                </div>
            </div>
            <button id="btnRegister" class="button-register">Đăng ký</button>
        </div>

        <div class="reg-login">
            Đã là thành viên? <a href="#">Đăng nhập</a>
        </div>
    </div>

</div>

@*<div class="register-container" style="display:none">
    <div class="registerAccount">
        <h1>Đăng ký tài khoản</h1>
        <i class="fa fa-close" onclick="eventPage.closeFormRegister()">
        </i><div class="loginerror" style="display:none;">
        </div><div class="row-field">
            <div class="field-content">
                <input type="text" id="txtUserName" maxlength="64" placeholder="Tên đăng nhập">
                <i class="fa" aria-hidden="true"></i>
            </div>
            <span class="t_red">*</span>
            <div id="validateFortxtUserName" class="error-message"></div>
        </div>
        <div class="row-field">
            <div class="field-content">
                <input type="text" id="txtPrimaryEmail" maxlength="128" placeholder="Địa chỉ email">
                <i class="fa" aria-hidden="true"></i>
            </div>
            <span class="t_red">*</span>
            <div id="validateFortxtPrimaryEmail" class="error-message"></div>
        </div>
        <div class="row-field">
            <div class="field-content content-half" style="margin-right: 10px;">
                <input type="password" id="txtPassword" maxlength="64" placeholder="Mật khẩu">
                <i class="fa" aria-hidden="true"></i>
            </div>
            <div class="field-content content-half">
                <input type="password" id="txtConfirmPassword" maxlength="64" placeholder="Nhập lại mật khẩu">
                <i class="fa" aria-hidden="true"></i>
            </div>
            <span class="t_red">*</span>
            <div id="validateFortxtPassword" class="error-message"></div>
            <div id="validateFortxtConfirmPassword" class="error-message"></div>
        </div>
        <div class="row-field">
            <div class="field-content">
                <input type="text" id="txtFullname" maxlength="50" placeholder="Tên đầy đủ">
                <i class="fa" aria-hidden="true"></i>
            </div><span class="t_red">*</span>
            <div id="validateFortxtFullname" class="error-message"></div>
        </div>
        <div class="row-field">
            <div class="field-content">
                <input type="text" id="txtBirthDate" placeholder="Ngày sinh" class="hasDatepicker">
            </div>
            <div id="validateForBirthDate" class="error-message">

            </div>
        </div><div class="row-field">
            <div class="field-content reg-gender">
                <label for="rdMale">
                    <input type="radio" id="rdMale" name="Gender" checked="checked"> Nam
                </label>
                <label for="rdFemale"><input type="radio" id="rdFemale" name="Gender"> Nữ</label>
            </div>
        </div>
        <div class="row-field">
            <div class="field-content reg-local">
                <div class="adv-control">
                    <span class="select-text">
                        <span class="select-text-content">Tỉnh/Thành</span>
                    </span><select id="ddlCities"><option value="">Tỉnh/Thành</option><option value="SG">Hồ Chí Minh</option><option value="HN">Hà Nội</option><option value="DDN">Đà Nẵng</option><option value="BD">Bình Dương</option><option value="DNA">Đồng Nai</option><option value="KH">Khánh Hòa</option><option value="HP">Hải Phòng</option><option value="LA">Long An</option><option value="QNA">Quảng Nam</option><option value="VT">Bà Rịa Vũng Tàu</option><option value="DDL">Đắk Lắk</option><option value="CT">Cần Thơ</option><option value="BTH">Bình Thuận  </option><option value="LDD">Lâm Đồng</option><option value="TTH">Thừa Thiên Huế</option><option value="KG">Kiên Giang</option><option value="BN">Bắc Ninh</option><option value="QNI">Quảng Ninh</option><option value="TH">Thanh Hóa</option><option value="NA">Nghệ An</option><option value="HD">Hải Dương</option><option value="GL">Gia Lai</option><option value="BP">Bình Phước</option><option value="HY">Hưng Yên</option><option value="BDD">Bình Định</option><option value="TG">Tiền Giang</option><option value="TB">Thái Bình</option><option value="BG">Bắc Giang</option><option value="HB">Hòa Bình</option><option value="AG">An Giang</option><option value="VP">Vĩnh Phúc</option><option value="TNI">Tây Ninh</option><option value="TN">Thái Nguyên</option><option value="LCA">Lào Cai</option><option value="NDD">Nam Định</option><option value="QNG">Quảng Ngãi</option><option value="BTR">Bến Tre</option><option value="DNO">Đắk Nông</option><option value="CM">Cà Mau</option><option value="VL">Vĩnh Long</option><option value="NB">Ninh Bình</option><option value="PT">Phú Thọ</option><option value="NT">Ninh Thuận</option><option value="PY">Phú Yên</option><option value="HNA">Hà Nam</option><option value="HT">Hà Tĩnh</option><option value="DDT">Đồng Tháp</option><option value="ST">Sóc Trăng</option><option value="KT">Kon Tum</option><option value="QB">Quảng Bình</option><option value="QT">Quảng Trị</option><option value="TV">Trà Vinh</option><option value="HGI">Hậu Giang</option><option value="SL">Sơn La</option><option value="BL">Bạc Liêu</option><option value="YB">Yên Bái</option><option value="TQ">Tuyên Quang</option><option value="DDB">Điện Biên</option><option value="LCH">Lai Châu</option><option value="LS">Lạng Sơn</option><option value="HG">Hà Giang</option><option value="BK">Bắc Kạn</option><option value="CB">Cao Bằng</option></select>
                </div><div class="adv-control" style="margin: 0px 5px;"><span class="select-text"><span class="select-text-content">Quận/Huyện</span></span><select id="ddlDistricts"><option value="0">Quận/Huyện</option></select></div><div class="adv-control"><span class="select-text"><span class="select-text-content">Phường/Xã</span></span><select id="ddlWards"><option value="">Phường/Xã</option></select></div>
            </div>
        </div>
        <div class="row-field">
            <div class="field-content reg-brokertype">
                <label for="rdPersonal">
                    <input type="radio" id="rdPersonal" name="AccountType" checked="checked"> Cá nhân
                </label>
                <label for="rdEnterprise"><input type="radio" id="rdEnterprise" name="AccountType"> Công ty</label>
            </div>
        </div>
        <div class="row-field">
            <div class="field-content">
                <input type="text" id="txtMasothue" maxlength="50" placeholder="Mã số thuế cá nhân/ CMND">
                <i class="fa" aria-hidden="true"></i>
            </div><span class="t_red">*</span>
            <div id="validateFortxtMasothue" class="error-message">

            </div>
        </div>
        <div class="row-field">
            <div class="reg-note">Bằng cách nhấn vào Đăng ký, bạn đồng ý với các Điều khoản thỏa thuận, Quy chế hoạt động, Chính sách bảo mật thông tin, Cơ chế giải quyết khiếu nại,... của Chúng tôi</div>
        </div>
        <button id="btnRegister" class="button-register">
            <i class="fa fa-spinner fa-spin"></i>Đăng ký
        </button>
        <div class="row-field">
            <div class="reg-note">
                <span>Chú ý:</span>
                Thông tin Tên đăng nhập, email, số điện thoại di động không thể thay đổi sau khi đăng ký.
            </div>
            <div class="reg-note">
                Để được trợ giúp vui lòng liên hệ tổng đài CSKH <a href="tel:19001881">1900 1881</a>
                hoặc email <a href="mailto:hotro@batdongsan.com.vn">hotro@batdongsan.com.vn</a>
            </div>
        </div><div class="reg-login">
            Đã là thành viên? <a href="#">Đăng nhập</a>
        </div>
    </div>
</div>*@