
@{
    ViewBag.Title = "Account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Tài khoản</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="x_panel">
        <div class="x_title">
            <small>Trang chủ</small> / <small>Tài khoản</small>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            @*<h4>Horizontal labels</h4>
                <p class="font-gray-dark">
                    Using the grid system you can control the position of the labels. The form example below has the <b>col-md-10</b> which sets the width to 10/12 and <b>center-margin</b> which centers it.
                </p>*@
            <div id="grid"></div>
        </div>
    </div>
</div>
@section footerJS{
    <script src="~/assets/admin/js/Account.js"></script>
}




